.ruler {
  width: 3in;
}
.ringSizer {
  width: 335px;
}
.sz5 {
  width: 1.57cm;
}
.sz6 {
  width: 1.65cm;
}
.sz7 {
  width: 1.73cm;
}
.sz8 {
  width: 1.82cm;
}
.sz9 {
  width: 1.89cm;
}
.sz10 {
  width: 1.98cm;
}
.sz11 {
  width: 2.06cm;
}
.sz12 {
  width: 2.13cm;
}
.sz13 {
  width: 2.22cm;
}
